doctype html
block vars
html
  head
    title= title
    link(rel="stylesheet/less" type="text/css" href=APP_ROOT+"/-/assets/styles.less")
    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js")
  body
    script.
      var APP_ROOT = !{JSON.stringify(APP_ROOT)};
    block content
    if GA_TRACKING_ID !== ""
      script(async src="https://www.googletagmanager.com/gtag/js?id="+GA_TRACKING_ID)
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', !{JSON.stringify(GA_TRACKING_ID)});
